
services:
  app:
    build: .
    ports:
      - "9001:9001"
    networks:
      - my_network


  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rey
      MYSQL_USER: rey
      MYSQL_PASSWORD: rey
      MYSQL_DATABASE: mydb_docker
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - my_network


networks:
  my_network:
    driver: bridge

volumes:
  mysql_data: